# Dataset trop lourd pour GitHub
data/*.csv
data/*.zip

# Python
__pycache__/
*.pyc
*.pyo
.env
venv/

# Docker
.docker/

# VS Code
.vscode/

# Données et outputs (trop lourds)
data/
output/
checkpoints/

# Airflow — logs et fichiers temporaires
airflow/logs/
airflow/plugins/

# Parquet et modèles lourds
*.parquet