
# Dataset trop lourd pour GitHub
data/*.csv
data/*.zip

# Python
__pycache__/
*.pyc
*.pyo
.env
venv/

# Docker
.docker/

# VS Code
.vscode/

venv/
data/
.env
__pycache__/
*.pyc
als_model/
output/
checkpoints/
*.parquet

